.company {
  display: column;
  justify-content: center;
}

.companyimageWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.companyimage {
  width: 50%;
}
.companycontent {
  text-align: center;
}

.companyTextContainer {
  margin-top: 30px;
}
