.newsContainer {
  max-width: 1200px;
  flex: 1;
  margin: auto;
  width: 60%;
}

.techImg {
  width: 100px;
}

.techNewsHeading {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  color: #a6b1e1;
}
