.careerBoardTitle {
  color: #9162b1;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}

td,
th {
  vertical-align: middle;
  border-bottom: 1px solid #ebebea;
  width: 150px;
  padding: 2px 0;
}

.table-title {
  width: 300px;
}

.table-title:hover {
  cursor: pointer;
}

.postTableTitle {
  text-decoration: none;
  color: black;
}

.orderButtons {
  display: flex;
  justify-content: end;
  padding: 4px;
  margin-bottom: 15px;
}
.orderButtons button {
  margin-right: 8px;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #dcd6f7;
  color: #424874;
  font-weight: bold;
}

table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  border-top: 2px solid black;
}

.boardContainer {
  height: 100%;
  display: grid;
  place-content: center;
}
.paginateContainer {
  height: 40px;
  margin-top: 196px;
}

.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.paginationBttns a {
  padding: 5px 10px;
  cursor: pointer;
}

.paginationBttns a:hover {
  border-bottom: 1px solid black;
}

.paginationActive a {
  color: #a6b1e1;
  background-color: white;
  font-weight: 500;
}

.writePostBtn {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #dcd6f7;
  color: #424874;
  font-weight: bold;
  margin-bottom: 20px;
}

.writePostBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.writePostBtn:hover {
  background: #a6b1e1;
}

.heading {
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0 10px 0;
  color: #a6b1e1;
}
