.createPost {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createPostformContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
}

.createPostformContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #a6b1e1;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: #424874;
}

.createPostBtn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.createPostBtn > button {
  margin-left: 30px;
}

span {
  color: red;
}
