.mainBody {
  display: flex;
  justify-content: center;
}

.content {
  border-radius: 4px;
  border: solid 2px #eee;
  background-color: white;
  margin: 50px;
  padding: 30px;
}
.contentHeader {
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchForm div {
  text-align: center;
  width: 100%;
  padding: 4px;
}
.inputBox {
  width: 380px;
  height: 40px;
  padding-left: 10px;
}
.nameInput {
  margin-top: 80px;
  height: 70px;
}
.emailInput {
  height: 70px;
}
.errorMessage {
  color: red;
}
.searchBtn {
  width: 244px;
  margin-top: 8px;
  padding: 4px 68px;
  background-color: white;
  border: solid 3px #7e57c2;
}
.backBtn {
  width: 244px;
  padding: 4px;
  background-color: white;
  border: solid 3px #7e57c2;
}

/* ps/done css */

.psGoBackBtnWrapper {
  margin: 60px 0;
}

.psContentWrapper {
  margin-bottom: 30px;
}
