.mainBody2{
    padding: 40px 560px;
    background-color: #F5F5F5;
    display: flex;
}
.navbar2{
    margin-right: 40px;
    margin-top: 90px;
}
.navbarHead2{
    padding: 8px;
    background-color: #D1C4E9;
}
.navbarBody2{
    border: 2px solid #D1C4E9;
    padding: 4px 0;
}
.navbarBody2 ul {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}
.navbarBody2 ul a{
    text-decoration-line: none;
}
.navbarBody2 ul li{
    padding: 8px;
    color: black;
    
}
.navbarBody2 ul li:hover{
    background-color: #D1C4E9;
}
.container2{
    background-color: #F5F5F5;
    

}
.title2{
    font-size: 28px;
}
.content2{
    border-radius: 4px;
    border: solid 2px black;
    background-color: white;
    margin: 12px 30px;
    height: 500px;
}
.contentHeader2{
    padding: 12px;
    font-size: 20px;
    text-align: center;
}

.searchForm2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm2 div{
    
    width: 100%;
    padding: 4px;
}
.nameInput2{
    margin-top: 80px;
    height: 70px;
    
}
.emailInput2{
    
    height: 70px;
}

.inputBox2{
    width: 240px;
    height: 24px;
}
.errorMessage2{
    color : red;
}

.searchBtn2{
    
    
    width: 244px;
    margin-top: 8px;
    padding: 4px 68px;
    background-color: white;
    border: solid 3px #7E57C2;
}
.backBtn2{
    
    width: 244px;
    padding: 4px ;
    background-color: white;
    border: solid 3px #7E57C2;

}