.postCategory {
  display: flex;
  justify-content: end;
  width: 100%;
}
.postTitle {
  font-weight: bold;
  font-size: 20px;
}

.postContent {
  min-height: 400px;
}

/* 카테고리 */

.cate0 {
  padding: 2px;
  border-radius: 5px;
  color: white;
  background-color: purple;
  text-align: center;
}
.cate1 {
  background-color: #424874;
  padding: 2px;
  border-radius: 5px;
  color: white;
}
.cate2 {
  padding: 2px;
  border-radius: 5px;
  color: black;
  background-color: #d1c4e9;
}
.cate3 {
  padding: 2px;
  border-radius: 5px;
  color: white;
  background-color: #7e57c2;
}
.cate4 {
  padding: 2px;
  border-radius: 5px;
  color: white;
  background-color: #7e57c2;
}
.cate5 {
  padding: 2px;
  border-radius: 5px;
  color: white;
  background-color: #7e57c2;
}

.miss {
  padding: 10px;
}
