.headerContainer {
  background-color: #dcd6f7;
  /* background-color: #ecd3fa; */
  /* background-color: #f6f5ef; */
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.header > div {
  margin: 10px;
}

.chodaeLogo {
  width: 100px;
  margin-top: 10px;
}

.searchBar {
  background-color: white;
  height: 40px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  width: 50%;
  border: 1px solid #eee;
}

.searchIconContainer {
  margin: 20px;
}

.searchInput {
  background-color: white;
  border: none;
  width: 60%;
  outline: none;
  color: #424874;
}

.headerItems {
  display: flex;
}

.headerLink {
  /* display: flex;
  background-color: #9162b1;
  background-color: #6e39cf;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; */

  text-decoration: none;
  color: #555555;
}

.line {
  color: #555555;
  padding: 0 10px;
}

.headerLink:hover {
  background: #a6b1e1;
}

/* menubar CSS */

.menu {
  max-width: 1200px;
  display: flex;
  text-align: center;
  justify-content: center;
}
