.header {
  background-color: #dcd6f7;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 10px;
}

.chodaeLogo {
  width: 100px;
  margin-top: 10px;
}

.searchBar {
  background-color: white;
  height: 40px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  width: 50%;
}

.searchIconContainer {
  margin: 20px;
}

.searchInput {
  background-color: white;
  border: none;
  width: 80%;
  outline: none;
  color: #424874;
}

.headerItems {
  display: flex;
}

.headerItems > button {
  display: flex;
  background-color: #9162b1;
  border-radius: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin: 10px;
  color: white;
  border: none;
  font-weight: 600;
  opacity: 0.85;
  cursor: pointer;
}
