.studyBg {
  background: linear-gradient(#dcd6f7, #a6b1e1);
  height: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
}
* {
  scroll-behavior: smooth;
}

.studyLeft {
  color: #eee;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studyTitle {
  margin: 0;
}

.studySubTitle {
  margin: 0;
  padding-top: -20px;
}

.mainBtn {
  background-color: #9162b1;
  padding: 15px 20px;
  margin: 20px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mainBtn:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(166, 177, 225, 0.5),
    -10px 10px 25px 0 rgba(143, 64, 248, 0.5);
  background-color: #a6b1e1;
}

.studyRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studyImg {
  width: 500px;
  border-radius: 10px;
  margin-left: 50px;
}

.bootCampWrapper {
  position: relative;
  display: flex;
  justify-content: center;

  height: 100%;
  z-index: -1;
}
.bootCampBg {
  height: 100vh;
  perspective: 10px;
}

.bootCampImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.bootCampText {
  text-shadow: 0 0 5px;
  color: gray;
  font-size: 30px;
}

.boardBg {
  background: linear-gradient(#a6b1e1, #dcd6f7);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardImg {
  width: 400px;
  border-radius: 10px;
  margin: 0 50px;
}

.boardText {
  animation: slideRight ease 0.4s forwards;
  color: #eee;
  font-size: 25px;
  align-items: center;
}
.forumLink {
  text-decoration: none;
  color: white;
}
